@font-face
    font-family: 'Myriad Pro'
    src: url('../fonts/myriad-pro/MyriadPro-Regular.otf') 

@font-face
    font-family: 'Century Gothic'
    src: url('../fonts/century-gothic/CenturyGothic.ttf') 

