@media screen and (max-width: 1750px)  
    .split.right .button-container .button.yellow
        width: 80% 
     

    .split.right .button-container .button.yellow  
        margin-bottom: 10px 
        margin-right: 0 
     
 
@media screen and (max-width:1500px)  
    .main-titles  
        max-width: 60% 
        padding-left: 5% 
     
    
    .main-titles p  
        max-width: 80% 
     


 

@media screen and (max-width: 1300px)  
    .search-bar  
        display: none 
     

    ul.check  
        max-width: 70% 
     

    .split.right  
        display: none 
     

    .numbers-container .item  
        min-width: 45% 
        margin-bottom: 15px 
     

    .main-titles h1  
        font-size: 5vw 
        line-height: 5vw 
     

    .main-titles p  
        font-size: 3vw 
        line-height: 3.2vw 
     

    .form-container  
        width: 80% 
     

    .form-container input,
    .form-container .btn-container,
    .btn-container input[type=file]  
        min-width: 100% 
     

    .form-line input  
        min-width: 45% !important 
     

    .split.left .button-container  
        display: flex 
        justify-content: space-around 
        max-width: 80% !important 
     

    .split.left .button-container .button  
        min-width: 25% 
     

    .numbers-container .item p  
        font-size: 3vw 
     
 

@media screen and (max-width: 1025px)  
    nav  
        display: block 
        width: 100% 
        text-align: center 
     
    header #logo  
        margin: 0 auto 
        margin-bottom: 20px 
        align-self: center 
        padding-left: 0 
     
    .title  
        font-size: 4vw 
        padding-bottom: 10px 
     

    .submit-btn  
        width: 100% 
     

    .form-container form h3,
    .form-container form .upload-btn,
    .form-container form .submit-btn  
        font-size: 3vw 
     
    input, textarea  
        font-size: 2vw !important 
     

    .button  
        font-size: 3vw 
     
 
    

@media screen and (max-width: 740px)  

    header  
        padding-left: 20px 
        padding-right: 20px 
     
    .yellow-square  
        height: 130px 
        width: 130px 
     
    .main-titles  
        max-width: 80% 
     

    .main-titles h1  
        padding-top: 70px 
        font-size: 5vw 
     

    #page-switcher-container  
        display: none 
     

    header nav a  
        font-size: 3vw 
     

    header nav ul li  
        margin-right: 25px 
     

    ul.check li  
        font-size: 4vw 
        padding: 15px 0 5px 30px 
     

    #slide2 h1  
        font-size: 13vw 
     

    .numbers-container  
        flex-direction: column 
        justify-content: center 
        padding-top: 20px 
     

    .numbers-container .item  
        max-width: 80% 
        align-self: center 
     

    .numbers-container .item h1  
        font-size: 30px 
     

    .split.left .button-container  
        flex-direction: column 
        bottom: 80px 
     

    .split.left .button-container .button  
        min-width: 50% 
        margin-right: 0 
     

    .split.left .button-container .button.yellow  
        margin-bottom: 10px 
     

    .form-container form textarea, 
    .form-container form input  
        padding: 10px 5px !important 
        margin-bottom: 7px 
     

    textarea  
        height: 80px 
     

    .form-container form  
        padding-top: 0 !important 
     

    .form-container form h3  
        margin-bottom: 10px 
     
    .submit-btn  
        margin-top: 5px 
     

    footer  
        padding: 0 30px 30px 30px 
     

    footer .social-icons .icon  
        margin-right: 10px 
        height: 8px 
        width: 8px 
     

    footer .social-icons i  
        font-size: 11px 
        position: relative 
        transform: translateY(-50%) 
     

    #arrow, #arrow img  
        height: 8px !important 
     

    #arrow img  
        width: 8px 
     
    
    #logo  
        width: 140px 
        height: 39px 
        margin-bottom: 10px !important 
     

 

@media screen and (max-height: 900px)  
    input, textarea  
        font-size: 2vh !important 
        padding: 10px 5px !important 
     

    form h3 
        font-size: 16px !important 
        margin-bottom: 5px 
     

    .upload-btn  
        font-size: 16px !important 
        padding: 10px 
     

    textarea  
        height: 110px 
     

    .title  
        font-size: 24px 
        padding-bottom: 0 
     
 